public/
.deploy_git/
db.json
.DS_Store
node_modules/
tmp/
*.log
.idea/
yarn.lock
package-lock.json
.nyc_output/
coverage/
.tmp*

ja/public/
ja/.deploy_git/
ja/db.json
ja/.DS_Store
ja/node_modules/
ja/tmp/
ja/*.log
ja/.idea/
ja/yarn.lock
ja/package-lock.json
ja/.nyc_output/
ja/coverage/
ja/.tmp*

zh/public/
zh/.deploy_git/
zh/db.json
zh/.DS_Store
zh/node_modules/
zh/tmp/
zh/*.log
zh/.idea/
zh/yarn.lock
zh/package-lock.json
zh/.nyc_output/
zh/coverage/
zh/.tmp*


